@inject HttpClient Http

@if (actors == null)
{
    <p><em>Loading actors...</em></p>
}
else
{
    <h2>My favorite actors</h2>
    <ul class="heroes">
        @foreach (var a in actors)
        {
            <li>
                <span class="badge">@a.Id</span> @a.FirstName &nbsp; @a.LastName
                - @a.DateOfBith?.ToShortDateString() ( @a.CountryCode )
            </li>
        }
    </ul>
}

<h2>Details for @actor.FirstName @actor.LastName.ToUpper()</h2>
<br />
<div><span>id: </span>@actor.Id</div>
<div><span>first name: </span>@actor.FirstName</div>
<div><span>last name: </span>@actor.LastName</div>
<div><span>country: </span>@actor.CountryCode</div>
<div><span>date of birth: </span> @actor.DateOfBith?.ToString("MM/dd/yyyy")</div>
<br />
<div>
    <label> first name: </label>
    <input @bind="actor.FirstName" placeholder="FirstName">
</div>
<div>
    <label> last name: </label>
    <input @bind="actor.LastName" placeholder="LastName">
</div>
<div>
    <label> country: </label>
    <input @bind="actor.CountryCode" placeholder="CountryCode">
</div>
<div>
    <label> date of birth: </label>
    <input @bind="actor.DateOfBith" placeholder="DateOfBith">
</div>
@code
{
    Actor actor = new Actor()
    {
        Id = 3,
        FirstName = "Robert",
        LastName = "De Niro",
        DateOfBith = new DateTime(1943, 12, 17),
        CountryCode = "US"
    };

    private Actor[] actors;

    protected override async Task OnInitializedAsync()
    {
        actors = await Http.GetFromJsonAsync<Actor[]>("sample-data/actors.json");
    }

}

<style>
    /* ActorsComponent's private CSS styles */
    .heroes {
        margin: 0 0 2em 0;
        list-style-type: none;
        padding: 0;
        width: 35em;
    }

    .heroes li {
        cursor: pointer;
        position: relative;
        left: 0;
        background-color: #EEE;
        margin: .5em;
        padding: .3em 0;
        height: 1.6em;
        border-radius: 4px;
    }

    .heroes li:hover {
        color: #2c3a41;
        background-color: #e6e6e6;
        left: .1em;
    }

    .heroes li.selected {
        background-color: black;
        color: white;
    }

    .heroes li.selected:hover {
        background-color: #505050;
        color: white;
    }

    .heroes li.selected:active {
        background-color: black;
        color: white;
    }

    .heroes .badge {
        display: inline-block;
        font-size: small;
        color: white;
        padding: 0.8em 0.7em 0 0.7em;
        background-color: #405061;
        line-height: 1em;
        position: relative;
        left: -1px;
        top: -4px;
        height: 1.8em;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;
    }

    input {
        padding: .5rem;
    }
</style>