<h2>Details for @_actor.FirstName @_actor.LastName.ToUpper()</h2>
<br/>
<div><span>id: </span>@_actor.Id</div>
<div><span>first name: </span>@_actor.FirstName</div>
<div><span>last name: </span>@_actor.LastName</div>
<div><span>country: </span>@_actor.CountryCode</div>
<div><span>date of birth: </span> @_actor.DateOfBith?.ToString("MM/dd/yyyy")</div>
<br/>
<div>
    <label> first name: </label>
    <input @bind="_actor.FirstName" placeholder="FirstName">
</div>
<div>
    <label> last name: </label>
    <input @bind="_actor.LastName" placeholder="LastName">
</div>
<div>
    <label> country: </label>
    <input @bind="_actor.CountryCode" placeholder="CountryCode">
</div>
<div>
    <label> date of birth: </label>
    <input @bind="_actor.DateOfBith" placeholder="DateOfBith">
</div>
@code
{
    Actor _actor = new Actor()
    {
        Id = 3,
        FirstName = "Robert",
        LastName = "De Niro",
        DateOfBith = new DateTime(1943, 12, 17),
        CountryCode = "US"
    };
}