@inject HttpClient _httpClient

@if (_actors == null)
{
    <p><em>Loading actors...</em></p>
}
else
{
    <h2>My favorite actors</h2>
    <ul class="heroes">
        @foreach (var a in _actors)
        {
            <li @onclick="@(()=>OnSelect(a))" 
                class="@((a==_selectedActor)?"selected":"")" >
                <span class="badge">@a.Id</span> @a.FirstName &nbsp; @a.LastName
                - @a.DateOfBith?.ToShortDateString() ( @a.CountryCode )
            </li>
        }
    </ul>
}

@if (@_selectedActor != null)
{
    <h2>Details for @_selectedActor.FirstName @_selectedActor.LastName.ToUpper()</h2>
    <br />
    <div><span>id: </span>@_selectedActor.Id</div>
    <div><span>first name: </span>@_selectedActor.FirstName</div>
    <div><span>last name: </span>@_selectedActor.LastName</div>
    <div><span>country: </span>@_selectedActor.CountryCode</div>
    <div><span>date of birth: </span> @_selectedActor.DateOfBith?.ToString("MM/dd/yyyy")</div>
    <br />
    <div>
        <label> first name: </label>
        <input @bind="_selectedActor.FirstName" placeholder="FirstName">
    </div>
    <div>
        <label> last name: </label>
        <input @bind="_selectedActor.LastName" placeholder="LastName">
    </div>
    <div>
        <label> country: </label>
        <input @bind="_selectedActor.CountryCode" placeholder="CountryCode">
    </div>
    <div>
        <label> date of birth: </label>
        <input @bind="_selectedActor.DateOfBith" placeholder="DateOfBith">
    </div>
}

@code
{
    Actor _selectedActor = null;

    private Actor[] _actors;

    protected override async Task OnInitializedAsync()
    {
        _actors = await _httpClient.GetFromJsonAsync<Actor[]>(
            "sample-data/actors.json");
    }

    private void OnSelect(Actor actor)
    {
        _selectedActor = actor;
    }

}
